/*
Originally from http://www.atlantaballet.com/calendar/
Highly modified for https://github.com/kmoser/KCalendar/
*/

div.kcalendar {
	clear: both;
	padding-bottom: 130px;
}

.kcalendar div.event {
	margin-bottom: 30px;
}
.kcalendar ul.month-browser li {
	width: 33.3%;
	padding: 0;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	height: auto;
	margin: 20px 0;
	
}
.kcalendar {
	width: 100%;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
.kcalendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
	width: 100%;
}
.kcalendar ul.weekdays li {
	text-align: center;
	color: #666;
	height: 30px;
	font-weight: bold;
	min-height: 30px;
}

.kcalendar li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 14.2857142857%;
	padding: 5px;
	display: block;
	float: left;
	border: 1px solid #ccc;
	margin: 0px;
	margin-right: -1px;
	margin-bottom: -1px;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 130px;
	max-height: 130px;
	line-height: 16px;
	
}
.kcalendar .days: last-child li {
	margin-bottom: 0px;
	
}
.kcalendar li .day,.kcalendar li .month {
	display: none;
	
}
.kcalendar .date {
	text-align: left;
	margin-bottom: 5px;
	color: #444444;
	font-size: 16px;
	font-weight: bold;
}

.kcalendar .x::before {
	color: #ff0000;
	xcontent: '\002717'; /* "X" */
	content: '\002571';
	font-size: 100px;
	font-weight: lighter;
	z-index: 2;
	display: block;
	position: relative;
	top: 18px;
	left: -7px;
	opacity: 0.2;
}

/*
.kcalendar .x2::before {
	left: 4px;
}
*/

.kcalendar li.past {
	/* https://codepen.io/tigt/post/optimizing-svgs-in-data-uris */
	/* <svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><line x1='0' y1='100%' x2='100%' y2='0' style='stroke:rgba(255,0,0,0.3);stroke-width:2'/></svg> */

	background-image: url( "data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Cline%20x1%3D%270%27%20y1%3D%27100%25%27%20x2%3D%27100%25%27%20y2%3D%270%27%20style%3D%27stroke%3Argba(255%2C0%2C0%2C0.3)%3Bstroke-width%3A2%27%2F%3E%3C%2Fsvg%3E" );
	/* background-color: rgba( 0, 0, 0, 0.1 ); */
}

.kcalendar li.blank {
	background-color: rgba( 0, 0, 0, 0.1 ) !important;
}

.kcalendar li.blank.past {
	background: initial;
}

.kcalendar li.future {
	/* background-color: rgba( 0, 255, 0, 0.03 ); */
}

.kcalendar li.free:after {
	content: 'Nothing happening today';
	color: #ff0000;
}

.kcalendar li.today {
	border: 3px solid #804444;
	background-color: #ffffff;
}

div.kcalendar h1 {
	clear: both;
	text-align: center;
	padding-top: 30px;
}

div.kcalendar h1:first-child {
	padding-top: 0px;
}

@media only screen and (max-width: 1002px){
	.kcalendar .x::before {
		left: -10px;
		top: 25px;
	}

	div.kcalendar li {
		line-height: 20px;
	}

}

@media only screen and (max-width: 767px){
	.kcalendar ul.month-browser li {
		font-size: 12px;
	}
	.kcalendar ul {
		width: 100%;
		box-sizing: border-box;
	}
	.kcalendar .weekdays {
		display: none;
	}
	.kcalendar li {
		display: block;
		height: auto;
		overflow-y: auto;
		min-height: initial;
		max-height: initial;
		border: 1px solid #cccccc;
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		margin-bottom: -1px;
	}
	.kcalendar li .day,.kcalendar li .month {
		display: inline;
	}
	.kcalendar .no-shows {
		display: block;
		color: #ccc;
		text-align: center;
	}
	.kcalendar .date {
		text-align: center;
	}
	.kcalendar li.blank, .kcalendar li.past {
		display: none;
	}

	div.kcalendar div.events {
		text-align: center;
	}

}

